<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlivcLicenseFile</key>
	<string>license.crt</string>
	<key>AlivcLicenseKey</key>
	<string>xoUwfupkv1sskPoTl1fb1870f865d4bb1a0ca3b3c9d327223</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>热潮</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>klcMPVA</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent101890499</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxef87311d8cecb346</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb2647803221</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>Privacy - Photo Library Usage Description</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixinULAPI</string>
		<string>WeChat</string>
		<string>Twitter</string>
		<string>sinaweibo</string>
		<string>fbapi</string>
		<string>sinaweibohd</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakao48d3f524e4a636b08d81b3ceb50f1003</string>
		<string>kakaolink</string>
		<string>instagram</string>
		<string>pinit</string>
		<string>pocket-oauth-v1</string>
		<string>fbauth2</string>
		<string>rm226427com.mob.demoShareSDK</string>
		<string>renren</string>
		<string>renreniphone</string>
		<string>renrenios</string>
		<string>renrenapi</string>
		<string>mqzone</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkminiapp</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>alipayshare</string>
		<string>alipay</string>
		<string>yixinopenapi</string>
		<string>yixin</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>tencentweiboSdkv2</string>
		<string>TencentWeibo</string>
		<string>weibosdk2.5</string>
		<string>weibosdk</string>
		<string>sinaweibohdsso</string>
		<string>sinaweibosso</string>
		<string>com.google.gppconsent.2.4.1</string>
		<string>com.google.gppconsent.2.4.0</string>
		<string>com.google.gppconsent.2.3.0</string>
		<string>com.google.gppconsent.2.2.0</string>
		<string>com.google.gppconsent</string>
		<string>hasgplus4</string>
		<string>googlechrome-x-callback</string>
		<string>googlechrome</string>
		<string>storylink</string>
		<string>alipayshare</string>
		<string>mqqwpa</string>
		<string>line</string>
		<string>whatsapp</string>
		<string>kakaolink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Localized resources can be mixed </key>
	<true/>
	<key>MOBAppKey</key>
	<string>30548bf48fb18</string>
	<key>MOBAppSecret</key>
	<string>e4d681d5473a32541c994b4168865baf</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>请同意</string>
	<key>NSCameraUsageDescription</key>
	<string>请同意</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>请同意</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>请同意</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>请同意</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>请同意</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请同意</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
